<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Parking</title>
    <style>
        #video-feed {
            position: relative;
            z-index: 1;
        }

        #polygonCanvas {
            position: absolute;
            top: 58px;
            left: 16px;
            z-index: 2;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="idUuidHolder" data-id_uuid="{{ id_uuid }}"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 mb-3"></div>
            <div class="col-2 mb-3">         
                <div class="container-card">
                    <div class="card text-center">
                        <div class="card-header">
                            <div>Sisa parkir</div>
                        </div>
                        <div class="card-body">
                            <div id="space" style="font-size: 30px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">         
                <div class="container-card">
                    <div class="card text-center">
                        <div class="card-header">
                            Show Area Parking
                        </div>
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="noButton" value="no" checked>
                                <label class="form-check-label" for="noButton">
                                    Don't show area 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="yesButton" value="yes">
                                <label class="form-check-label" for="yesButton">
                                    Show area 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-2 mb-3">         
                <div class="container-card">
                    <div class="card text-center">
                        <div class="card-header">
                            Nomor Parkiran Kosong
                        </div>
                        <div class="card-body">
                            <div id="parking_status"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="container-video-result">
                    <div class="card text-center">
                        <div class="card-header">
                            Vehicle Parking Counting
                        </div>
                        <div class="card-body">
                            <img id="video-feed" src="{{ url_for('video_feed_area', id_uuid=id_uuid) }}" class="img-fluid" alt="CCTV" width="1280" height="720">
                            <canvas id="polygonCanvas" width="1280" height="720"></canvas>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('video_feed', id_uuid=id_uuid) }}"><button type="button" class="btn btn-outline-dark">Back</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/script_area.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('space_update', {});
            socket.emit('space_location', {});
        });

        socket.on('space_update', function(data) {
            var spaceElement = document.getElementById('space');
            spaceElement.innerHTML = data.space;
            spaceElement.style.fontSize = '30px';
        });

        socket.on('space_location', function(data) {
            const location = data.location;
            const message = `Area parkir ${location} kosong`;
            document.getElementById('parking_status').innerHTML += `<p>${message}</p>`;
        });
    </script>
</body>
</html>
