<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setting Parking Areas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- -..style css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_roi.css') }}">
</head>
<body>
  <div class="container-video">
    <div class="card text-center h-100 col-9">
      <div class="card-header">
        Setting Parking Areas
      </div>
      <div class="card-body">
        <!-- <div class="row">
          <div class="col-12">
            <div class="info">
              <p class="points-info">No points yet</p>
              <input>
            </div>
        </div> -->
        <div class="row justify-content-md-center">
            <form class="row col-5" action="{{ url_for('store_number_area', id_uuid=id_uuid) }}" method="post">
              <div class="col-10 col-md-9">
                <label for="number" class="visually-hidden">input</label>
                <input type="number" class="form-control" id="number" name="number" placeholder="Input banyaknya area parkir" required>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-dark" >Submit</button>
              </div>
            </form>
          </div>
          <br>
          <div class="row">
            <div class="output">
              <div id="idUuidHolder" data-id_uuid="{{ id_uuid }}"></div>
              <!-- form 2 -->
              <canvas id="canvas"></canvas>
              <div class="zoom"></div>
              <div class="container">
              </div> 
            </div>
          </div>
      </div>
      <div class="card-footer">
        <div class="col text-md-end">
          <a href="{{ url_for('area_coordinates', id_uuid=id_uuid) }}"><button type="button" class="btn btn-dark">Parking Counting</button></a>
        </div>
    </div>
    </div>
  <!-- script js roi-->
  <script src="{{ url_for('static', filename='js/script_roi.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
